#!/bin/bash

XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-~/.config}

# Allow users to override command-line options
if [[ -f $XDG_CONFIG_HOME/rift-terminal@@CHANNEL_SUFFIX@@-flags.conf ]]; then
    RIFT_USER_FLAGS="$(grep -v '^#' $XDG_CONFIG_HOME/rift-terminal@@CHANNEL_SUFFIX@@-flags.conf)"
fi

# Launch
exec /opt/rift/rift-terminal@@CHANNEL_SUFFIX@@/@@BINARY_NAME@@ $RIFT_USER_FLAGS "$@"
